name = "greenhouse"
compatibility_date = "2022-04-18"

kv_namespaces = [ 
    { binding = "GREENHOUSE", id = "x", preview_id = "x" }
]

[[unsafe.bindings]]
name = "GREENHOUSE_DATASET"
type = "analytics_engine"

[vars]
OPENWEATHER_LOCATION = 1234567
WARN_TEMP = 20
OPEN_HOUR = 9
CLOSE_HOUR = 20

# [secrets]
# OPENWEATHER_APPID
# PUSHOVER_TOKEN
# PUSHOVER_USER